<div class="slider">

  <div class="slider__slide">

    <div class="slider__arrow slider__arrow-left"></div>

    <div class="slide__content">
      <div class="slide__title">Бесплатный парковка</div>
      <div class="slide__descr">Оставляйте машину на платных городских парковках и разрешенных местах, не нарушая ПДД, а также в аэропортах.</div>
      <button class="slide__button">Подробнее</button>
    </div>

    <div class="slider__arrow slider__arrow-right"></div>

    <div class="slider__dots">
      O O O O
    </div>
  </div>




</div>
