@import "../../scss/variables";

@media (max-width: 1023px) {
  :host {
    display: none;
  }
}

:host {
  min-width: 410px;
  max-width: 50vw;
  flex-grow: 1;
}

.slider {
  height: 100vh;
}

.slider__slide {
  height: 100%;

  background-size: cover;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__dots {
  position: absolute;
  align-self: flex-end;
}

.slider__arrow {
  min-width: 60px;
  height: 100%;
  background-color: rgba($white, .5);
}




