<section class="slider">

  <div class="slider__slide" [style]="{right: calculateRight()}" #slideEl>
    <div *ngFor="let slide of slides"
         class="slider__slide-item"
         style="background: linear-gradient(rgba(0, 0, 0, 0), black), url('assets/{{slide.img}}') center;
                background-size:cover">
      <article class="slide__content">
        <h2 class="slide__title">{{slide.title}}</h2>
        <p class="slide__descr">{{slide.descr}}</p>
        <button class="slide__button">Подробнее</button>
      </article>
    </div>
  </div>

  <button class="slider__arrow slider__arrow-left" (click)="prev()">
    <img src="assets/icons/arrow-left.svg" alt="">
  </button>

  <button class="slider__arrow slider__arrow-right" (click)="next()">
    <img src="assets/icons/arrow-right.svg" alt="">
  </button>

  <ul class="slider__dots">
    <li *ngFor="let slide of slides"
         (click)="selectSlide(slide.title)"
         class="slider-dots__dot"
         [ngClass]="{'slider-dots__dot_active': slide.active}">
    </li>
  </ul>

</section>
