<div class="main">

  <div class="main__header">

    <div class="main-header__title">Need for drive</div>
    <div class="main-header__city">
      <img src="assets/icons/point.svg" alt="">
      Ульяновск
    </div>
  </div>

  <div class="main__base">
    <div class="main__title">Каршеринг</div>
    <div class="main__title main-color">Need for drive</div>
    <div class="main__slogan">Поминутная аренда авто твоего города</div>
    <button class="main__button">Забронировать</button>
  </div>


  <div class="main__footer">
    <div class="main-footer__phone">8 (495) 234-22-44</div>
    <div class="main-footer__copyright">© 2016-2019 «Need for drive»</div>
  </div>

</div>

