@import "../node_modules/scss-reset/src/scss/_reset.scss";



/***************************************************
Mixins
 */

@mixin button_linear {
  background: linear-gradient($main_color, #039F67);
  color: $white;
}

body {
  font-family: Roboto, sans-serif;
}
