@import "../../scss/variables";

$burger_btn_size: 20px;

.menu {
  background-color: $black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: -100%;
  transition: left;
  transition-duration: 200ms;
}

.menu__burger-button {
  position: fixed;
  width: $burger_btn_size;
  height: $burger_btn_size;
  top: $burger_btn_size;
  left: $burger_btn_size;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.burger-btn__line {
  background-color: $black;
  height: $burger_btn_size/5;
  width: $burger_btn_size;
  transition: background-color 200ms;

  &_center {
    transition: opacity 200ms;
  }

  &_top {
    transition: transform 100ms, top 200ms 300ms
  }

  &_bottom {
    transition: transform 100ms, top 200ms 300ms
  }
}

.menu_open {
  left: 0;

  .burger-btn__line {
    background-color: $white;

    &_center {
      opacity: 0;
      transition: opacity 200ms;
    }

    &_top {
      position: absolute;
      transform: rotate(45deg);
      top: $burger_btn_size/5*2;
      transition: top 200ms, transform 200ms
    }

    &_bottom {
      transform: rotate(-45deg);
      position: absolute;
      top: $burger_btn_size/5*2;
      transition: top 200ms, transform 200ms
    }
  }
}

.menu__base {
  margin-top: 8em;
}

.menu__list {
  color: $white;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.menu-list__item {
  margin-bottom: .5em;
  cursor: pointer;

  &:hover {
    color: $main_color;
  }
}

.menu__social {
  margin-left: 20px;
  margin-top: 2em;
  display: flex;
  gap: 1em;
}

.menu-social__item {
  cursor: pointer;
}

.menu__lang {
  color: $main_color;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
}


@media (min-width: 767px) {
  .menu {
    left: calc(-100% + 60px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burger-btn__line {
    background-color: $white;
  }

  .menu__lang {
    position: fixed;
  }

  .menu_open {
    left: 0;
  }

  .menu__base {
    margin: 0;
  }

  .menu__list {
    font-size: 28px;
    width: 579px;
  }
}

@media (min-width: 1024px) {

  .menu {
    width: calc(50vw + 60px);
    left: -50vw;
  }

  & .menu_open {
    left: 0;
  }
}
