<div class="menu" [ngClass]="{'menu_open':open}">

  <div class="menu__burger-button" (click)="toggle()">
    <div class="burger-btn__line burger-btn__line_top"></div>
    <div class="burger-btn__line burger-btn__line_center"></div>
    <div class="burger-btn__line burger-btn__line_bottom"></div>
  </div>
  <div class="menu__base">
    <div class="menu__list">
      <div class="menu-list__item" *ngFor="let slide of slides">{{slide.title}}</div>
<!--      <div class="menu-list__item">Парковка</div>-->
<!--      <div class="menu-list__item">Страховка</div>-->
<!--      <div class="menu-list__item">Бензин</div>-->
<!--      <div class="menu-list__item">Обслуживание</div>-->
    </div>

    <div class="menu__social">
      <div class="menu-social__item" [inlineSVG]="'assets/icons/telegram.svg'"></div>
      <div class="menu-social__item" [inlineSVG]="'assets/icons/facebook.svg'"></div>
      <div class="menu-social__item" [inlineSVG]="'assets/icons/instagram.svg'"></div>
    </div>
  </div>


  <div class="menu__lang">Eng</div>

</div>
