<section class="menu" [ngClass]="{'menu_open':open}">

  <button class="menu__burger-button" (click)="toggle()">
    <span class="burger-btn__line burger-btn__line_top"></span>
    <span class="burger-btn__line burger-btn__line_center"></span>
    <span class="burger-btn__line burger-btn__line_bottom"></span>
  </button>

  <article class="menu__base">
    <ul class="menu__list">
      <li class="menu-list__item">Парковка</li>
      <li class="menu-list__item">Страховка</li>
      <li class="menu-list__item">Бензин</li>
      <li class="menu-list__item">Обслуживание</li>
    </ul>
    <ul class="menu__social">
      <li class="menu-social__item" [inlineSVG]="'assets/icons/telegram.svg'"></li>
      <li class="menu-social__item" [inlineSVG]="'assets/icons/facebook.svg'"></li>
      <li class="menu-social__item" [inlineSVG]="'assets/icons/instagram.svg'"></li>
    </ul>
  </article>

  <button class="menu__lang">Eng</button>

</section>
